body{
    background-color: white;
}

.header_div img{
    width: 100px;
}

.copy_right_footer{
    position: fixed;
    width: 100%;
    color:  Black;
    background-color: yellow;
    text-align: center;
    line-height: 3;
}

.text_image_and_results img{
    height: 300px;
    width: 310px;
}

#conclusion{
     font-size: 25px;
     text-align: center;
     color: Blue;
     background-color: lightpink; 
}